.weather {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  color: red;
  font-weight: 900;
  position: absolute;
  font-size: 40px;
  line-height: 0px;
  bottom: 30px;
  margin: 0 auto 0 auto;
}

.smartarse.night .weather {
  color: #8379f4;
}

.forecast {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #858585;
  width: 200px;
  font-family: "Permanent Marker", cursive;
  font-size: 22px;
}

.forecast p {
  margin: 0;
  text-align: left;
}

.forecast p.temp {
  margin: 0 0 0 20px;
}

.forecast .icon {
  font-size: 65px;
}

.forecast.Thunderstorm {
  color: rgb(0, 195, 255);
}

.forecast.Rain {
  color: #42a5f5;
}

.forecast.Drizzle {
  color: rgb(150, 150, 150);
}

.forecast.Snow {
  color: #fff;
}

.forecast.Clear {
  color: #f9a825;
}

.forecast.Clouds {
  color: #fff59d;
}
