.calendar{
  height: 40px;
  padding: 30px 0 0px 0;
  color:#ff5722;
  font-size: 38px;  
  font-family: 'Amatic SC', cursive;
  font-weight: 770;
  width: 100%;
  position: absolute;
  bottom: 130px;
  text-shadow: 0px 0px 1px #ff5722;
}

.calendar svg{
  font-size: 40px;
  padding-right: 10px;
  position: relative;
  top: 5px;  
}

.calendar-left{
  width: 357px;
  font-weight: 400;
  text-align: center;
  margin-left: 40px;
  float:left;
}

.calendar-right{
  width: 397px;
  font-weight: 400;
  text-align: center; 
  float:right;
}

