.calendar{
  height: 40px;
  padding: 20px 0 10px 0;
  color:#5bdaa5;
  background-color: #383f4f;
  font-weight: 700;
  width: 100%;
  position: absolute;
  bottom: 0px;
}

.calendar svg{
  font-size: 26px;
}

.calendar-left{
  width: 397px;
  font-size: 18px;
  text-align: center;
  float:left;
}

.calendar-right{
  width: 397px;
  font-size: 18px;
  text-align: center;
  float:right;
}
