.calendar{
  height: 40px;
  padding: 10px 0 0px 0;
  color:#388E3C;
  font-weight: 700;
  width: 100%;
  position: absolute;
  bottom: 130px;
}

.calendar svg{
  font-size: 30px; 
}

.calendar-left{
  width: 397px;
  font-size: 30px;
  text-align: center;
  text-shadow: 0px 0px 1px #FFC107;  
  float:left;
}

.calendar-right{
  width: 397px;
  font-size: 30px;
  text-align: center;
  float:right;
}
