html,
body {
  background-color: #fff;
}

.App {
}

.smartarse {
  background: #000; /* fallback for old browsers */
  position: relative;
  width: 1920px;
  height: 1200px;
  margin: 0 auto 0 auto;
}

.App.sleep .clock,
.App.sleep .weather,
.App.sleep .calendar {
  opacity: 0.2;
}
