html,
body {
  overflow: hidden;
  background-color: #fff;
}

.App {
}

.smartarse {
  background: #000; /* fallback for old browsers */
  position: relative;
  width: 1920px;
  height: 1200px;
  margin: 0 auto 0 auto;
}

.smartarse.night h1.time,
.smartarse.night .weather,
.smartarse.night .calendar {
  opacity: 0.2;
}
