.clock {
  width: 100%;
  height: 100px;
  position: absolute;
  top: -20px;
  left: auto;
  text-align: center;
}

/*
    https://hexeosis.tumblr.com/
    https://pislices.ca/
    https://dribbble.com/beesandbombs 
  
  */

.clock .time {
  background-image: url(https://cdn.dribbble.com/users/583436/screenshots/1689314/media/4fdd3954ec94e19cf0d00cb82dabeabf.gif);
  /*
  -webkit-text-stroke: 6px rgb(185, 177, 177);
  */
  color: transparent;
  background-position-x: -120px;
  background-position-y: -400px;
  background-size: 115% auto;
  background-clip: text;
  font-family: "Bebas Neue", cursive;
  font-size: 801px;
  margin: 0 auto 0 auto;
}

.sleep .clock .time {
  background-image: none;
  color: #fff;
}
