.clock {
  width: 100%;
  height: 100px;
  position: absolute;
  top: -20px;
  left: auto;
  text-align: center;
}

/*
    https://hexeosis.tumblr.com/
    https://pislices.ca/
    https://dribbble.com/beesandbombs 
  
  */

.clock .time {
  background-image: url(https://media.wired.com/photos/593240d2a312645844993b25/master/w_1600,c_limit/stars.gif);
  -webkit-text-stroke: 6px rgb(185, 177, 177);
  background-position-x: 0px;
  background-position-y: -200px;
  background-size: 100% auto;
  color: transparent;
  background-clip: text;
  font-family: "Monoton", cursive;
  font-size: 501px;
  font-weight: 400;
  letter-spacing: 0px;
  margin: 0 auto 0 auto;
}
