html,body{
  overflow:hidden;
  background-color: #ff;
}

.app{
}

.smartarse {
  background-color: #000;
  position: relative;
  width: 800px;
  height: 480px;
  margin: 0 auto 0 auto;
  color: white;
}

  .smartarse.night{
    opacity: .4;
  }

.logo {
  position: absolute;
  top:15px;
  left:5px;
  float: left;
  animation: App-logo-spin infinite 20s linear;
  height: 60px;
}

.clock{
  background-color: #3F51B5;
  border-top: 20px solid #303F9F;
  border-bottom: 20px solid #303F9F;
  width: 800px;
  height: 140px;
  position: absolute;
  top:120px;
  left: 0px;
  padding: 50px 0 30px 0;
  text-align: center;
}

  .smartarse.night .clock{
    background-color: #9E2525;
  }

h1.time{
  color: #f2f2f2;
  font-size: 120px;
  line-height: 100px;
  font-family: 'Press Start 2P', cursive;
  font-weight: 400;
  margin: 0 auto 0 auto;
  padding:0;
}

  .smartarse.night h1.time{
    color: #FF5722;
  }

h2.day{
  color: #448AFF;
  font-size: 16px;
  font-family: 'Press Start 2P', cursive;
  padding:0;
  position: relative;
  top:-0px;
}

  .smartarse.night h2.day{
    color: #FF5722;
  }

.calendar{
  color:#00BCD4;
  width: 100%;
  position: absolute;
  bottom:10px;
  left: 15px;
  text-align: center;
}

h4 svg{
  font-size: 30px;
}

h4.ski{
  color: #607D8B;
  font-size: 12px;
  font-family: 'Press Start 2P', cursive;
  float:left;
}

h4.india{
  color: #607D8B;
  font-size: 12px;
  font-family: 'Press Start 2P', cursive;
  float:right;
  position: relative;
  right: 40px;
}

.smartarse.night h4{
  color: #FF5722;
}
