.Weather{
  width: 100%;
  color:#607D8B;
  position: absolute;
  font-size: 40px;
  line-height: 0px;
  top:20px;
  left: 0px;
  margin: 0 auto 0 auto;
}


.smartarse.night .Weather{
  color:#9E2525;
}

.forecast{
  float: left;
  padding: 0 20px 0 20px;
  text-align: center;
}

.forecast.today{
  float: left;
  padding-right: 330px;
}

p.day{
  font-size: 16px;
  margin: 5px 0 10px 0;
  font-weight: 900;
}

p{
  font-size: 14px;
  margin: 10px 0 0 0;
  padding: 0;
}

.sunny{
  color: #FABF2C
}

.cloudy{
  color: #212121
}
