.Weather{
  color:#607D8B;
  position: absolute;
  font-size: 40px;
  line-height: 0px;
  top:20px;
  right: 25px;
  margin: 0 auto 0 auto;
}


.smartarse.night .Weather{
  color:#9E2525;
}

.forecast{
  float: left;
  padding-left: 20px;
  text-align: center;
}

.forecast p{
  font-size: 16px;
}
